$orange: #E27866;
$green: #41D395;

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%!important;
    max-height: 100%;
    scroll-behavior: smooth;
  }

  @media (max-width: 500px) {
    html {
      width: 500px!important;
      overflow-x: hidden;
    }
  }