
// First section
.Form-1 {
        height: 700px;
        background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../../img/photo-1480714378408-67cf0d13bc1b.png");
        background-size: cover;
        background-position: center;
        overflow: hidden;

        .form-divs {
            display: flex;
            justify-content: space-around;
            align-content: center;
            margin-left: 150px;
            margin-right: 150px;

        .forms-1-left {
            margin-right: 30px;
            max-width: 800px;
            max-height: 500px;
            margin-top: 100px;
            
            img:first-of-type {
                width: 250px;
                height: 110px;
            }

            h2 {
                margin-top: 25px;
                width: 426px;
                height: 87px;
                color: white;
                text-align: left;
                font: normal normal 600 36px/43px Montserrat;
                letter-spacing: 0px;
            }

            img:last-of-type {
                margin: 10px 0 20px 0;
                width: 84px;
                height: 22px;
                background: transparent 0% 0% no-repeat padding-box;
                opacity: 1;
            }

            p {
                text-align: left;
                font: normal normal 600 16px/23px Montserrat;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 0.8;
            }

            button {
                width: 135px;
                height: 42px;
                background: transparent;
                color: white;
                border: 2px solid white;
                opacity: 1;
                margin-top: 20px;
                cursor: pointer;
            }
        }

        .forms-1-right {
            background: white;
            width: 360px;
            height: 424.88px;
            margin-top: 100px;
            border-radius: 5px 5px 5px 5px;
            opacity: 1;

            .p {
                display: flex;
                align-self: center;
                justify-content: center;
                background: #F5F5F5;
                width: 360px;
                height: 57px;
                border-radius: 5px 5px 0 0;
                p {        
                    position: relative;
                    padding: 15px;
                    text-align: center;
                    font: 600 20px/24px Montserrat;
                    letter-spacing: 0px;
                    color: #333333;
                    opacity: 1;
                    span {
                        color: $orange;
                    }
                }
            }
            
            .your-details {
                padding: 20px 50px 10px 50px;
                h2 {
                    text-align: left;
                    font: normal normal 600 16px/24px Montserrat;
                    letter-spacing: 0px;
                    color: #1C1C1C;
                    opacity: 1;
                    max-width: 97px;
                    max-height: 19px;
                    cursor: default;
                }

                .bio-forms {
                    display: flex;
                    flex-direction: column;

                    input {
                        width: 260px;
                        height: 40px;
                        text-align: left;
                        font: normal normal normal 12px/24px Montserrat;
                        letter-spacing: 0px;
                        color: #1C1C1C;
                        margin-top: 5px;
                        border: none;
                        border-bottom: 1px solid #D8D8D8;
                        opacity: 1;
                        &::placeholder {
                            color: #D8D8D8
                        }
                    }
                }
            }

            h3 {
                position: relative;
                padding: 20px 50px 10px 50px;
            }

            .radio {
                display: flex;
                width: 100%;
                padding: 20px 50px 10px 50px;
                .inputs-radio {
                    display: flex;
                    align-items: center;
                }
                
                input {
                    margin-top: 5px;
                    position: relative;
                    appearance: none;
                    width: 18px;
                    height: 18px;
                    border: solid 1px $green;
                    border-radius: 50%;
                }

                label {
                    padding: 0 5px 0 5px;
                    text-align: left;
                    font: normal normal 600 15px/27px Montserrat;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                }

                input:before {
                    position: absolute;
                    top: 40%;
                    left: 40%;
                    content: "";
                    width: 0%;
                    height: 0%;
                    background: $green;
                    border-radius: 50%;
                    transition: 0.3s;
                }

                input:checked:before {
                    top: 26%;
                    left: 26%;
                    width: 50%;
                    height: 50%;
                }

                input:checked + label {
                    font-weight: bold;
                }
            }

            button {
                cursor: pointer;
                margin-top: 14px;
                text-align: center;
                width: 360px;
                height: 57px;
                border: none;
                border-radius: 0 0 5px 5px;
                background: $green;
                font: normal normal 600 18px/24px Montserrat;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }
}

// Second section
.socials-2 {
    height: 105px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000061;
    opacity: 1;
    .logos {
        max-width: 700px;
        min-width: 500px;
        display: flex;
        justify-content: space-around;
    }
    .socials-text {
        h3 {
            text-align: left;
            font: normal normal 600 20px/24px Montserrat;
            letter-spacing: 0px;
            color: #333333;
            opacity: 1;
        }
        max-width: 400px;
        text-align: left;
        font: normal normal normal 14px/20px Montserrat;
        letter-spacing: 0px;
        color: #86878B;
        opacity: 1;
    }
}

// Third section
// Picture for third section .feature-3
.features-3 {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
    background: linear-gradient(to left, rgba(102, 150, 226, 0.42), rgba(226, 120, 102, 0.42)), url("../../img/christoffer-engstrom-503481-unsplash@2x.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    .container:first-of-type {
        display: grid;
        grid-template-columns: 120px 500px;
        grid-template-rows: repeat(3, 150px);
        max-width: 800px;
        height: 380px;
        .text {
            padding-top: 20px;
            p {
                padding-top: 20px;
            }
        }
        .box {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100px;
            height: 100px;
            box-shadow: 0px 3px 6px #00000029;
            opacity: 1;
            p {
                transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
                text-align: left;
                font: normal normal 600 14px/20px Montserrat;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
        .box:nth-last-of-type(4) {
            grid-column: 1/2;
            grid-row: 1/2;
            background: #e27866;
            background-size: contain;
            
            p {
                line-height: 90px;
                text-align: center;
            }
        }
        .box:nth-last-of-type(3) {
            background: #a37169;
            grid-column: 1/2;
            grid-row: 2/3;
            p {
                opacity: 0.5;
                line-height: 90px;
                text-align: center;
            }
        }
        .box:nth-last-of-type(2) {
            background: #a37169;
            grid-column: 1/2;
            grid-row: 3/4;
            p {
                opacity: 0.5;
                line-height: 90px;
                text-align: center;
            }
        }
        h2 {
            text-align: left;
            font: normal normal 600 36px/40px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
        }

        p {
            text-align: left;
            font: normal normal normal 14px/20px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
        }
    }
    .container:last-of-type {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            max-width: 400px;
            height: 380px;
            .flower {
                cursor: pointer;
                width: 168px;
                height: 168px;
                background: linear-gradient(rgba(226, 120, 102, 0.8)), url("../../img/photo-1493409137604-0901c55e4456.png");
                background-position: center;
                background-size: 200px;
                transition: 0.3s;
                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0px 3px 6px #00000029;
                }
                p { 
                    padding-top: 65px;
                    text-align: center;
                    font: normal normal 600 20px/24px Montserrat;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                }
            }
            .vege {
                width: 168px;
                height: 168px;
                background: url('../../img/photo-1543364195-bfe6e4932397.png') 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                opacity: 1;
                background-position: center;
                background-size: 200px;
            }
            .shoes {
                grid-column: 1/3;
                grid-row: 2/3;
                background: transparent url('../../img/photo-1448387473223-5c37445527e7.png') 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                opacity: 1;
                background-position: center;
                background-size: 400px;
            }
    }
}

//fourth section
.about-4 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 100px;
    height: 600px;
    background: #1C1C1C;
    opacity: 1;
    h2 {
        text-align: left;
        font: normal normal 600 30px/43px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .logo {
        width: 167px;
        margin-top: 100px;
        img {
            width: 400px;
            height: 170px;
            opacity: 1;
        }
    }
    }
    .about-text {
        max-width: 450px;
        color: white;
        #divider {
            width: 200px;
            height: 2px;
        }
        p:first-of-types {
            margin-top: 10px;
        }
    }
    .title-section {
        img {
            width: 25px;
            height: 25px;
            border: 15px solid $orange;
            border-radius: 50%;
            background: $orange;
            margin-right: 10px;
        }
        
        .title-section-1, .title-section-2 {
            display: flex;
            margin-top: 20px;
        }
    }

// Fifth section
.awesome-5 {
    height: 600px;
    background: #FFFFFF;
    opacity: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    .awesome-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        p, img {
            text-align: center;
            padding-top: 30px;
        }
    }
    h2 {
        text-align: center;
        font: normal normal 600 36px/43px Montserrat;
        letter-spacing: 0px;
        color: #212121;
        opacity: 1;
    }
    img {
        width: 64px;
        height: 2px;
    }
    .container-awesome {
        display: flex;
        justify-content: center;
        align-items: center;
        .box-awesome {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 200px;
            img {
                margin-bottom: 10px;
                width: 50px;
                height: 50px;
                background: white;
                border: solid 1px $orange;
                border-radius: 50%;
            }
            h2 {
                margin-bottom: 10px;
                text-align: justify;
                font: normal normal normal 20px/24px Montserrat;
                letter-spacing: 0px;
                color: #333333;
                opacity: 1;
            }
            p {
                width: 300px;
                text-align: center;
                font: normal normal normal 14px/20px Montserrat;
                letter-spacing: 0px;
                color: #86878B;
                opacity: 1;
            }
        }
    }
}

// Sixith section
.pricing-6 {
    height: 900px;
    background: #6696E2;
    opacity: 1;
    .pricing-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        p, img {
                    // text-align: center;
                    padding-top: 30px;
                }
                h2 {
                    margin-bottom: 10px;
                    text-align: justify;
                    font: normal normal 600 36px/43px Montserrat;
                    letter-spacing: 0px;
                    color: white;
                    opacity: 1;
                }
                p {
                    width: 300px;
                    text-align: center;
                    font: normal normal normal 14px/20px Montserrat;
                    letter-spacing: 0px;
                    color: white;
                    opacity: 1;
                }
                }
    .pricing {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2 {
            height: 59px;
            text-align: center;
            font: normal normal normal 20px/24px Montserrat;
            letter-spacing: 0px;
            line-height: 59px;
            background: #333333;
            color: white;
            border-radius: 5px 5px 0 0;
        }
        .price {
            flex-wrap: wrap;
            height: 100px;
            text-align: center;
            line-height: 50px;
            font: normal normal normal 24px Montserrat;
            letter-spacing: 0px;
            line-height: 59px;
            background: #333333;
            color: white;
            span {
            padding-top: 10px;
            font: normal normal normal 64px Montserrat;
            // line-height: 100px;
            }
        }
        p:first-of-type {
            height: 51px;
            background: #333333;
            text-align: center;
            line-height: 51px;
            color: white;
        }
        p {
            height: 40px;
            text-align: center;
            font: normal normal normal 14px/24px Montserrat;
            letter-spacing: 0px;
            color: #86878B;
            background: white;
            opacity: 1;
        }
        p:last-of-type {
            border-radius: 0 0 5px 5px;
        }
        .green {
            height: 6px;
            background: #41D395;
        }
        .basic, .professional, .enterprise {
            width: 343px;
        }
        .green-wider {
            height: 40px;
            P {
                color: white;
                text-align: center;
                line-height: 40px;
                background: #41D395;
            }
        }
        .professional {
            margin-bottom: 33px;
            h2 {
                height: 93px;
            }
            .price {
                height: 66px;
                line-height: 50px;
            }
        }
    }
    }

// Seventh section
.reviews-7 {
    height: 600px;
    background: #FFFFFF;
    opacity: 1;
    .review-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        p, img {
                    // text-align: center;
                    padding-top: 30px;
                }
                h2 {
                    margin-bottom: 10px;
                    text-align: justify;
                    font: normal normal 600 36px/43px Montserrat;
                    letter-spacing: 0px;
                    color: rgb(0, 0, 0);
                    opacity: 1;
                }
                }
                // p:nth-of-type(even) {
                //     height: 125px;
                // }
    .flex-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                padding: 20px;
                text-align: left;
                font: normal normal normal 16px/22px Montserrat;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        }
        #blue-box {
            width: 240px;
            height: 110px;
            background: #6696E2;
            border: 1px solid #6696E2;
            border-radius: 8px;
        }
        #blue-box-smaller {
            width: 240px;
            background: #6696E2;
            border: 1px solid #6696E2;
            border-radius: 8px;
            height: 85px;
        }
    }
    }

// Eigth section
.contact-8 {
    height: 600px;
    background: #E27866;
    opacity: 1;
}
// Responsive
@media (max-width: 835px) {
    .Form-1 {
        height: 1400px;
    }
    .form-divs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 20px!important;
        margin-right: 10px!important;
        height: 1400px;
        .forms-1-left {
            padding-left: 20px;
        }
    }

    .socials-2 {
        .logos {
            flex-wrap: wrap;
            justify-content: center;
            min-width: 100px;
            img {
                padding-left: 10px;
            }
        }
    }
}